<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-5">
            <img src="../images/actuals/{{book.asin}}.jpg">
        </div>
        <div class="col-md-6 panel panel-default detailsPanel">
            <div class="panel-heading">
                <div>
                    <h3>{{book.title}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <h4>{{book.author}}</h4>
                </div>
                <div>
                    <div class="col-md-4">
                        <h4>{{book.publishedAt}}</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>{{book.isbn}}</h4>
                    </div>
                </div>
                <div>{{book.description}}</div>
            </div>
        </div>
    </div>
</div>